In [6]:
import pandas as pd
import geopandas as gpd

In [7]:
ghost_cities=pd.read_csv("All the ghost cities‘ distribution.csv", encoding="latin1")

In [6]:
ghost_cities.head(3)

,old_cityID,X,Y,country,state,city
0,22,131.064073,49.004520,Russia,Jewish Autonomous Oblast,Obluchye
1,67,129.386624,48.231630,China,Heilongjiang,Yichun
2,193,76.953562,62.984293,Russia,Yamalo-Nenets Autonomous Okrug,Vyngapurovskiy

In [8]:
# 按照国家统计数量
country_counts = ghost_cities["country"].value_counts().reset_index()

# 显示结果
print(len(country_counts))

32

In [9]:
world=gpd.read_file('ne_10m_admin_0_countries/ne_10m_admin_0_countries.shp')

In [11]:
# 将 country_counts 和 world 数据按照 'country' 和 'SOVEREIGNT' 列连接
merged = world.merge(country_counts, left_on='SOVEREIGNT', right_on='country', how='inner')

In [12]:
print(len(merged))

49

In [13]:
# 查看每个国家匹配了多少行
merged.groupby('country').size().sort_values(ascending=False)

country
France          9
Australia       6
New Zealand     3
China           3
Israel          2
Kazakhstan      2
Algeria         1
Peru            1
Malaysia        1
Mexico          1
Portugal        1
Poland          1
Russia          1
South Africa    1
Spain           1
Ukraine         1
Kyrgyzstan      1
Japan           1
Jordan          1
Argentina       1
Italy           1
Iraq            1
Iran            1
India           1
Colombia        1
Canada          1
Brazil          1
Bolivia         1
Belarus         1
Uzbekistan      1
dtype: int64

In [14]:
merged.head(3)

,featurecla,scalerank,LABELRANK,SOVEREIGNT,SOV_A3,ADM0_DIF,LEVEL,TYPE,TLC,ADMIN,...,FCLASS_PL,FCLASS_GR,FCLASS_IT,FCLASS_NL,FCLASS_SE,FCLASS_BD,FCLASS_UA,geometry,country,count
0,Admin-0 country,0,3,Malaysia,MYS,0,2,Sovereign country,1,Malaysia,...,None,None,None,None,None,None,None,"MULTIPOLYGON (((117.70361 4.16341, 117.69711 4...",Malaysia,1
1,Admin-0 country,0,3,Bolivia,BOL,0,2,Sovereign country,1,Bolivia,...,None,None,None,None,None,None,None,"POLYGON ((-69.51009 -17.50659, -69.51009 -17.5...",Bolivia,1
2,Admin-0 country,0,2,Peru,PER,0,2,Sovereign country,1,Peru,...,None,None,None,None,None,None,None,"MULTIPOLYGON (((-69.51009 -17.50659, -69.63832...",Peru,1

In [22]:
country_counts_merged=merged[['country','geometry',  'count']]
print(country_counts_merged)

         country                                           geometry  count
0       Malaysia  MULTIPOLYGON (((117.70361 4.16341, 117.69711 4...      1
1        Bolivia  POLYGON ((-69.51009 -17.50659, -69.51009 -17.5...      1
2           Peru  MULTIPOLYGON (((-69.51009 -17.50659, -69.63832...      1
3      Argentina  MULTIPOLYGON (((-67.1939 -22.82222, -67.14269 ...      2
4          India  MULTIPOLYGON (((77.80035 35.49541, 77.81533 35...     13
5          China  MULTIPOLYGON (((78.91769 33.38626, 78.91595 33...     53
6         Israel  POLYGON ((34.24835 31.21145, 34.2644 31.22419,...      1
7         Israel  MULTIPOLYGON (((34.4812 31.58314, 34.52013 31....      1
8         France  MULTIPOLYGON (((-54.11153 2.11427, -54.13491 2...      4
9        Ukraine  MULTIPOLYGON (((31.76434 52.10057, 31.82584 52...      2
10       Belarus  POLYGON ((23.60624 51.5174, 23.60231 51.53078,...      1
11  South Africa  MULTIPOLYGON (((19.98145 -24.75249, 19.98641 -...      3
12        France  POLYGON ((-63.01757 18.03339, -63.08589 18.058...      4
13    Uzbekistan  MULTIPOLYGON (((71.78552 39.9897, 71.78976 39....      2
14    Kazakhstan  MULTIPOLYGON (((87.3238 49.08527, 87.20065 49....     10
15        Brazil  MULTIPOLYGON (((-57.60279 -30.19052, -57.6117 ...      4
16        Russia  MULTIPOLYGON (((87.81632 49.16584, 87.71638 49...     16
17         Spain  MULTIPOLYGON (((-5.34073 35.84736, -5.3629 35....     15
18    Kyrgyzstan  POLYGON ((80.21033 42.18952, 80.21653 42.1744,...      1
19        Poland  POLYGON ((18.8332 49.51026, 18.83743 49.52695,...      6
20          Iraq  POLYGON ((44.76614 37.14192, 44.75254 37.11314...      1
21         Italy  MULTIPOLYGON (((7.02208 45.92526, 7.06694 45.8...     38
22          Iran  MULTIPOLYGON (((44.80699 39.6399, 44.80965 39....      2
23       Algeria  POLYGON ((-4.82161 24.99506, -4.99519 25.10209...      6
24      Colombia  MULTIPOLYGON (((-78.82868 1.43431, -78.81286 1...      2
25      Portugal  MULTIPOLYGON (((-7.10486 38.82719, -7.15101 38...      2
26        Jordan  POLYGON ((35.61176 32.6819, 35.61233 32.68154,...      3
27        Canada  MULTIPOLYGON (((-95.16057 49.36949, -95.16034 ...     27
28        Mexico  MULTIPOLYGON (((-97.13927 25.96581, -97.16747 ...      1
29         China  MULTIPOLYGON (((114.22983 22.55581, 114.23471 ...     53
30    Kazakhstan  POLYGON ((63.38391 45.56582, 63.32428 45.56797...     10
31     Australia  MULTIPOLYGON (((131.5359 -31.60556, 131.34555 ...      6
32   New Zealand  MULTIPOLYGON (((166.13697 -50.86435, 166.20525...      2
33        France  MULTIPOLYGON (((163.98512 -20.04762, 163.98609...      4
34         Japan  MULTIPOLYGON (((129.78321 31.79963, 129.79086 ...      1
35        France  MULTIPOLYGON (((-56.15095 46.79365, -56.15648 ...      4
36        France  MULTIPOLYGON (((-136.16576 -22.02435, -136.175...      4
37        France  MULTIPOLYGON (((42.7518 -17.0761, 42.72438 -17...      4
38        France  POLYGON ((-62.83886 17.88198, -62.85094 17.890...      4
39     Australia  POLYGON ((73.73512 -53.1124, 73.76189 -53.1189...      6
40     Australia  MULTIPOLYGON (((96.86313 -12.18174, 96.8694 -1...      6
41     Australia  POLYGON ((167.98414 -29.01784, 167.99635 -29.0...      6
42   New Zealand  MULTIPOLYGON (((-157.93456 -21.87754, -157.921...      2
43        France  MULTIPOLYGON (((-178.14232 -14.24358, -178.108...      4
44   New Zealand  POLYGON ((-169.85114 -18.9651, -169.82531 -18....      2
45     Australia  POLYGON ((154.39129 -21.03004, 154.38852 -21.0...      6
46        France  POLYGON ((-109.21203 10.30268, -109.21036 10.2...      4
47         China  MULTIPOLYGON (((113.5586 22.16303, 113.56943 2...     53
48     Australia  POLYGON ((123.59702 -12.42832, 123.59775 -12.4...      6

In [16]:
# 保存带有地理坐标的新 CSV 文件
output_path = "ghost_cities_by_country_with_coordinates.csv"
country_counts_merged.to_csv(output_path, index=False)
print(f"Updated CSV saved to: {output_path}")

Updated CSV saved to: ghost_cities_by_country_with_coordinates.csv

In [21]:
# 将数据保存为 GeoJSON 文件
country_counts_merged.to_file("country_counts.geojson", driver="GeoJSON")

print("GeoJSON 文件已成功保存！")

GeoJSON 文件已成功保存！